body {
    background-color: antiquewhite;
}
.App {
    color: brown;
    text-align: center;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20px;
    padding: 40px;
    margin: 35px;
    border-radius: 1.25rem;
    box-shadow: 0 5px 0 2px black;
    background-color: pink;
    transform-style: preserve-3d;
    height: 150px;
    width: 150px;
    transition: 2000ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0));
    transform-style: preserve-3d;
}
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card:hover {
    box-shadow: 0 0 5px 2px black;
}
.card.flip {
    --rotate-y: 180deg;
}
.card .front {
    left: 0;
}
.card .front,
.card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.card .back {
    transform: translate3d(0, 0, -1px) rotateY(180deg);
}

.flashcard-options {
    margin-top: 1rem;
    color: grey;
    font-size: 1.2rem;
    line-height: 1.6;
}

.flashcard-option:first-child {
    margin-top: 0;
}